<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>new.html</title>
	  <script src="/javascripts/defaults.js"></script>
	  
  </head>
  <body>
  		<div class="wrapper">
<form name="jobpostadd" action="/employee" method="post"  >	
	<input name="authenticity_token" type="hidden" value="84fc5f10d45977c87c3ac6b88aabc0e73925cad0" />

Hemant raut
	</form>
	</body>
</html>
